<footer class="text-muted">
<div class="container">
  <p class="float-right">
    <% if !current_page? (portfolios_path) %>
      <%= link_to "View all Portfolio Items", portfolios_path %> /
    <% end %>
    <a href="#">Back to top</a>
  </p>
  <p>
    <%= copyright_generator %>
  </p>
</div>
</footer>
