<div class="app-card-container">
    <div class="card">
      <h1>About Me</h1>

      <hr>

      <div class="row">
        <div class="col-md-3">
          <%= image_tag "profile01.png", width: 200, alt: "profile image", class: 'profile-img' %>
        </div>
        <div class="col-md-9">
          <p>Life-long learner seeking to co-create on interdisciplinary projects weaving innovation with practice, research and user engagement, providing clients with integrated solutions and value-added services.</p>

          <p>Aaron holds a MArch and BFA from the University of Houston, where he participated in the Graduate Design/Build Studio and a semester abroad at the University of Applied Arts, Vienna. He is a technical designer at a Houston based architecture firm.  His interests include art, design, and the virtual+built environments, with an emphasis on process, programming, aethetics, and development.</p>
        </div>
      </div>
    </div>
</div>
