<main role="main" class="inner-pages">
  <h1 class="cover-heading">Welcome</h1><br>
  <div class="card-block">
    <h2>How can we design a better web application for tomorrow?</h2>
    <p class="brake-line-m"></p><br>
    <p class="lead">Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver a well crafted product but to also ensure that each stage of the process is fully communicated.</p>
    <p class="lead">
      <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
</main>
