<main role="main" class="inner-pages">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <h1 style="color: black;">Technology News</h1>
    <hr>
  </div>
  <div class="card-deck mb-3 text-center">
    <% @tweets.each do |tweet| %>
    <div class="card-md-4">
      <div class="tech-news">
        <div class="card-block">
          <%= twitter_parser tweet %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</main>
